$light: #F3F7FD

.title
    font-size: 5rem

.input
    background-color: $light
    border: 0

// REMOVE INPUT NUMBER ARROWS

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

/* Firefox */
input[type=number]
    -moz-appearance: textfield
